:root { 
    --primaria: #4A7836;
    --secondaria: #203318;
    --dafault: #4a7836d8;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #e9eef5;
}

nav img {
    display: inline;
    vertical-align: none;
    max-width: none;
    height: auto;
    border-style: none;
}

.color-default {
    color: var(--secondaria);
}

.btn-color-dafault {
    background-color: var(--primaria);
    border-color: var(--primaria);
}

.btn-color-dafault:hover {
    background-color: var(--secondaria);
    border-color: var(--secondaria);
}

.btn-color-dafault:focus {
    background-color: var(--secondaria);
    border-color: var(--secondaria);
    box-shadow: 0 0 0 0.2rem var(--secondaria);
}

.btn-color-dafault.disabled, .btn-color-dafault:disabled {
    color: #fff;
    background-color: var(--default);
    border-color: var(--default);
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: var(--primaria);
    border-color:var(--primaria);
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #4a7836a2;
}

/* NAV BAR */

.navbar .bg-light {
    background-color: none !important;
}

.navbar .nav-item {
    transition: 0.5s;
    margin-right: 10px;
    margin-left: 10px;
    padding: 0.5rem 1rem;
}

.navbar .nav-item:hover {
    transition: 0.5s;
    background-color: var(--primaria);
}

.navbar .nav-item:hover > .nav-link {
    color: white;
}

.navbar .active {
    margin-top: 0;
    background-color: #e9eef5;
    transition: 0.5s;
}

.navbar .active:hover {
    transition: 0.5s;
    background-color: var(--primaria);
}

.navbar .navbar-light .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    color: black;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: var(--primaria);
}

.navbar-light .navbar-nav .active:hover>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color:white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color:white;
}

.navbar .navbar-light .navbar-nav .nav-item .login {
    color: var(--primaria);
}

.navbar .navbar-light .navbar-nav .active > .nav-link {
    color: var(--primaria);
}

.navbar .navbar-light .navbar-nav .nav-item:hover > .nav-link {
    transition: 0.5s;
    color: white;
}

.navbar .navbar-light .navbar-nav .active:hover > .nav-link{
    transition: 0.5s;
    color: #ffffff;
}

.navbar {
    padding: 0;
}

.navbar .navbar-brand {
    padding: 0.5rem 1rem;
}

.navbar .login {
    margin-right: 15px;
    margin-left: 15px;
    color: var(--primaria);
}

.navbar .img-logo {
    height: 20px;
}

/* X NAV BAR X */

/* CONTEUDO */

.conteudo {
    margin-top: 70px;
    color: var(--secondaria);
}

.conteudo .card-home {
    margin-top: 10px;
    background-color: var(--primaria);
    height: 150px;
    max-height: 150px;
    color: white;
    box-shadow: 1px 1px 5px rgb(83, 83, 83);
    transition: 0.5s;
    border-radius: 10px;
}

.conteudo .card-home:hover {
    transition: 0.5s;
    box-shadow: 3px 3px 10px black;
    cursor: pointer;
}

.conteudo .card-home .espaco {
    position: relative;
    margin-top: 30px;
    bottom: 0px;
    text-decoration: none;
}

.conteudo a {
    text-decoration: none;
}

.conteudo .card-home .alinhar-direita {
    float: right;
    text-align: right;
}

.styleMapa{
    border-radius: 35px;
    -webkit-box-shadow: 0px 1px 14px 5px rgb(83, 83, 83);
    box-shadow: 1px 1px 5px rgb(83, 83, 83);
    transition: 0.5s;
}

.styleMapa:hover{
    transition: 0.5s;
    border-radius: 35px;
    -webkit-box-shadow: 0px 1px 14px 5px rgba(0,0,0,0.45);
    box-shadow: 3px 3px 10px black;
    cursor:pointer;
}

.cardMapa{
    width:100%;
    margin:0.5rem;
    margin-bottom:0rem;
    border: 1.5px solid #f5f5f5;
    border-radius: 10px;
    border-color:#e3e3e3;
    -webkit-box-shadow: 0px 0px 17px -2px rgba(219,219,219,1);
    -moz-box-shadow: 0px 0px 17px -2px rgba(219,219,219,1);
    box-shadow: 1px 1px 5px rgb(83, 83, 83);
    background-color: white;
    transition: 0.5s;
}

.cardMapa:hover{
    width:100%;
    margin:0.5rem;
    margin-bottom:0rem;
    border: 1.5px solid #f5f5f5;
    border-radius: 10px;
    border-color:#e3e3e3;
    -webkit-box-shadow: 0px 3px 14px -5px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 3px 14px -5px rgba(0,0,0,0.58);
    box-shadow: 3px 3px 10px black;
    background-color: white;
    transition: 0.5s;
}

.form-control {
    border: 2px solid black;
    border-radius: 7px;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
    border-color: rgb(85, 85, 85);
}

.divisor {
    background-color: black;
    height: 1px;
}

.checkbox-licenciamento {
    all: unset;
    min-height: 15px;
    min-width: 15px;
    background-color: white;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 7px;
}

.checkbox-licenciamento:checked {
    background-color: var(--primaria);
}

.card {
    background-color: #f8f9fa;
}

.card-borda-esquerda {
    border-left: 20px solid var(--primaria);
    border-radius: 7px;
}

.card-title {
    font-weight: bolder;
    color: var(--secondaria);
}

.table {
    margin-top: -15px;
}

.table thead th {
    border-top: none;
    color: var(--primaria);
}

.icon-licenciamento {
    height: 20px;
    display: inline-block;
}

.add-card-btn {
    background-color: var(--primaria);
    border-radius: 50px;
    height: 35px;
}

.btn-voltar {
    height: 40px;
}

.table tbody {
    color: black;
}

/* X CONTEUDO X */

/* FOOTER */
#appRodape {
    background-color: #f8f9fa;
    padding-bottom: 1rem; 
    padding-top: 2rem;
    color: var(--secondaria);
}

#appRodape .link-email {
    color: var(--secondaria);
}

#appRodape  .alinhar-centro {
    text-align: center;
}

#appRodape .img-rede-social {
    margin: 5px;

}

#appRodape .hr-lateral {
    border-right: solid 1px var(--secondaria);
}

#appRodape .img {
    height: 80%;
    width: auto;
}

/* X FOOTER X */

.texto-denuncia {
    border: solid 1px #ced4da;
    margin: 0px;
    padding: 10px;
    border-radius: 5px;
    background-color: #e9ecef;
    color: #495057;
}