@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#boletos_table {
    border-collapse: collapse;
    font-size: 20px;
}

.boletos-table-header {
    font-weight: bold;
    color: #212423;
    text-align: center;
}

#tipo_beneficiario {
    border-radius: 5px;
    padding: 5px;  
    border: 1px solid #ccc; 
}