name: SGA CI

on:
  push:
    branches: [ main ]
  pull_request_target:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    services:
      sga_db:
        image: postgres:12
        env:
          POSTGRES_USER: laravel
          POSTGRES_PASSWORD: secret
          POSTGRES_DB: laravel
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v2

    - name: Install composer
      run: |
        curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
        composer update
        composer install --optimize-autoloader
        composer dump-autoload --optimize --classmap-authoritative

    - name: Validate composer.json and composer.lock
      run: composer validate --strict

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v2
      with:
        path: vendor
        key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-composer-

    - name: Install Dependencies
      run: |
        composer install --prefer-dist --no-progress --optimize-autoloader

    - name: Set up environment
      run: |
        cp .env.example .env
        php artisan key:generate --show --no-ansi
        echo "APP_KEY=$(php artisan key:generate --show --no-ansi)" >> .env
        echo "DB_CONNECTION=pgsql" >> .env
        echo "DB_HOST=localhost" >> .env
        echo "DB_PORT=5432" >> .env
        echo "DB_DATABASE=laravel" >> .env
        echo "DB_USERNAME=laravel" >> .env
        echo "DB_PASSWORD=secret" >> .env

    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache

    - name: Aguardar PostgreSQL
      run: |
        sudo apt-get update && sudo apt-get install -y netcat
        until nc -zv localhost 5432; do echo 'Aguardando o PostgreSQL...'; sleep 1; done
    
    - name: Run Migrations
      run: php artisan migrate

    - name: Run Unit and Feature Tests
      run: vendor/bin/phpunit
